<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Events VueJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                searchText: '',
                results: []
            },
            methods: {
                search: function() {
                    axios
                        .get(`https://swapi.co/api/starships/?search=${this.searchText}`)
                        .then(response => {
                        this.results = response.data;
                        });
                }
            },
            template: `
            <div>
                <label>Search:
                    <input type="text" v-model="searchText" v-on:keyup.enter.esc="search" />
                </label>
                <h5>Results: <small>{{results.count}}</small></h5>
                <ul>
                    <li v-for="result in results.results">
                    {{result.name}}
                    </li>
                </ul>
            </div>
            `
        });
    </script>
</body>

</html>